fieldset {
    color: $color1;
    font-size: 18px;
    border: solid 3px $color1;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

label {
    padding: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: $color1;
    font-size: 18px;
}

.redes a {
    color: $color1;
    font-size: 50px;
    letter-spacing: 10px;
    margin-left: 20px;
    margin-right: 20px;
}