footer {
    background-color: $color1;
    width: 100%;
    padding: 20px;

    .contenidoFooter {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
    .contacto {
        text-align: center;
        font-size: 18px;
    }
    
    .contacto a {
        margin: 5px;
    }
    
    .derechos {
        color: $color2;
        font-size: 18px;
        font-family: Helvetica;
        text-align: center;
        margin: 0;
    }
    
    .derechos a {
        margin: 10px;
    }
}

