.main-index {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    .borde {
        height: 300px;
        width: 350px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .articulo{
        align-content: center;

        h2 {
            margin: 10px;
        }
        
        p.main {
            color: $color1;
            font-size: 19px;
            text-align: center;
            margin: 10px;
        }
    }
}

.h2 {
    color: $color1;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: bold;
}

.mitad-de-pag {
    width: 100%;
    background-color: $color1;
    letter-spacing: 3px;
    text-align: center;

    .secciones {
        display: inline-flex;
        font-size: 20px;
        list-style: none;
        padding: 10px;
    }
}


/* BOTON SUBIR */
.subir {
    height: 30px;
    width: 30px;
    background-color: $color1;
    color: $color2;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 70%;
    box-shadow: 0 0 3px 2px $color2;
}
/* BOTON SUBIR */