@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: #4c7a34;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header img {
    height: 80px;
    width: 110px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.titulo {
    color: white;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitulo {
    color: white;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 15px;
    padding-top: 0px;
    margin-top: 2px;
    margin-bottom: 15px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 5px;
}

.nav {
    color: white;
    font-size: 18px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #4c7a34;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER */

/* INDEX y MAIN */

.main-index {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.borde {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.h2 {
    color: #4c7a34;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: bold;
}

p.main {
    color: #4c7a34;
    font-size: 19px;
    text-align: center;
    margin: 10px;
}

.mitad-de-pag {
    width: 100%;
    background-color: #4c7a34;
    letter-spacing: 3px;
    text-align: center;
}

div ul li.secciones {
    display: inline-flex;
    font-size: 20px;
    list-style: none;
    padding: 10px;
}

div.articulo h2 {
    font-family: "Edu NSW ACT Foundation", cursive;
    color: #4c7a34;
    font-size: 25px;
    margin: 15px;
}

/* INDEX y MAIN */

/* GALERIA GRID */

.galeria {
    text-align: center;
    margin-top: 20px;
}

.grid-container {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-item {
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 18px;
}

.item1 {
    background-image: url(../assets/index3.jpeg);
    grid-column: 1/4;
    grid-row: 1/3;
}

.item2 {
    background-image: url(../assets/cajoncito.jpeg);
    grid-column: 4/5;
    grid-row: 1/3;
}

.item3 {
    background-image: url(../assets/plantines.jpg);
    grid-column: 1/3;
    grid-row: 3/3;
}

.item4 {
    background-image: url(../assets/huerta.jpeg);
    grid-column: 3/5;
    grid-row: 3/3;
}

.item5 {
    background-image: url(../assets/florblanca.jpeg);
    grid-column: 1/2;
    grid-row: 2/3;
}

.item6 {
    background-image: url(../assets/background1.jpg);
    grid-column: 2/5;
    grid-row: 2/3;
}

/* GALERIA GRID */

/* INFORMACION */

.sobrenosotros {
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #4c7a34;
    border: 3px solid #4c7a34;
    font-size: 18px;
    text-decoration: none;
}

.sobrenosotros h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

.decoration {
    text-decoration: underline;
}

.sobrenosotros li {
    margin-bottom: 15px;
    margin-top: 15px;
    list-style-type: none;
}

.grid-container2 {
    margin: 20px;
    border: 3px solid #4c7a34;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4);
    grid-template-areas:
        "img1 texto1"
        "img2 texto2"
        "img3 texto3"
        "img4 texto4";
    gap: 10px;
}

.img {
    margin: 10px;
    height: auto;
}

.info-foto {
    border-radius: 10%;
    height: 400px;
    width: 100%;
}

.texto {
    color: #4c7a34;
    text-align: center;
    align-content: center;
}

.almacen {
    font-family: "Raleway", sans-serif;
    color: #4c7a34;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.infop {
    margin: 20px;
    font-size: 18px;
    color: #4c7a34;
}

/* INFORMACION */

/* CONTACTO */

fieldset {
    color: #4c7a34;
    font-size: 18px;
    border: solid 3px #4c7a34;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

label {
    padding: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: #4c7a34;
    font-size: 18px;
}

.redes a {
    color: #4c7a34;
    font-size: 50px;
    letter-spacing: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* CONTACTO */

/* UBICACION */

.mapa {
    text-align: center;
    padding: 10px;
}

h4 {
    text-align: center;
    font-size: 25px;
    color: #4c7a34;
    width: 100%;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mapa,
.horario {
    margin-top: 15px;
    width: 80%;
    max-width: 700px;
}

.table{
    text-align: center;
    color: #4c7a34;
    font-size: 20px;
}

/* UBICACION */

/* DERECHOS */

.copy {
    font-family: "Raleway", sans-serif;
    color: #4c7a34;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

p.derechosTexto {
    color: #4c7a34;
    font-size: 23px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    margin-top: 10px;
}

p.derechosTexto a {
    color: #4c7a34;
}

/* DERECHOS */

/* FOOTER */

footer {
    background-color: #4c7a34;
    width: 100%;
    padding: 20px;
}

.contenidoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto {
    text-align: center;
    font-size: 20px;
}

.contacto a {
    margin: 5px;
}

a:hover {
    color: rgb(74, 6, 6);
}

.derechos {
    color: white;
    font-size: 18px;
    font-family: Helvetica;
    text-align: center;
    margin: 0;
}

.derechos a {
    margin: 10px;
}

/* FOOTER */




/* BOTON SUBIR */
.subir {
    height: 30px;
    width: 30px;
    background-color: #4c7a34;
    color: white;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 70%;
    box-shadow: 0 0 3px 2px white;
}
/* BOTON SUBIR */



/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .titulo {
        font-size: 22px;
    }

    .nav {
        font-size: 16px;
    }

    .borde {
        height: 280px;
        width: 260px;
        border-radius: 10px;
    }

    p.main {
        font-size: 16px;
    }

    .mitad-de-pag {
        letter-spacing: 2px;
    }

    div ul li.secciones {
        display: inline-flex;
        font-size: 16px;
    }

    div.articulo h2 {
        font-size: 23px;
    }

    footer {
        width: 100%;
        padding: 10px;
    }

    .contacto {
        font-size: 16px;
    }

    .derechos {
        font-size: 16px;
    }

    .grid-container {
        margin: 10px;
        gap: 5px;
    }

    .grid-item {
        height: 300px;
        width: 100%;
        border-radius: 17px;
    }

    .grid-container2 {
        padding: 15px;
        margin: 20px;
        gap: 10px;
    }

    .texto {
        height: 300px;
    }

    .img {
        height: auto;
    }

    .info-foto {
        border-radius: 8%;
        height: 300px;
    }

    .almacen {
        margin: 1px;
        font-size: 19px;
    }

    .infop {
        margin: 10px;
        font-size: 16px;
    }
}

@media (min-width: 918px){
    .main-indexj{
        display: none;
    }
}

@media (max-width: 918px){

    .main-index{
        display: none;
    }
    
    .jumbotron-foto{
        background-image: url(../assets/huerto-urbano.jpg);
        background-position: center;
        background-size: cover;
        height: 350px;
    }
    
    .jumbotron-foto2{
        background-image: url(../assets/index2.jpeg);
        background-position: center;
        background-size: cover;
        height: 350px;
    }
    
    .articuloj{
        color: #4c7a34;
        align-content: center;
        text-align: center;
        height: 400px;
    }
    
    .h2j{
        margin: 10px;
        font-size: 22px;
        font-family: "Edu NSW ACT Foundation", cursive;
        font-weight: bold;
    }
    
    p.mainj {
        margin: 10px;
        font-size: 18px;
    }
}


@media (min-width: 780px){
    .navbar{
        display: none;
    }
}

@media (max-width: 780px){
    .nav-pc{
        display: none;
    }
}


@media (max-width: 780px){
    .navbar {
        background-color: #4c7a34;
    }

    .container-fluid {
        justify-content: space-evenly;
    }

    .container-fluid img {
        height: 80px;
        width: 110px;
    }

    .titulo {
        margin-left: 0px;
        text-align: center;
        color: white;
    }

    .titulo h2{
        font-family: "Edu NSW ACT Foundation", cursive;
        text-transform: uppercase;
        font-size: 15px;
    }

    button {
        color: white !important;
    }

    .collapse{
        font-size: 16px;
        text-align: center;
    }

    a {
        color: white !important;
    }
}

@media (max-width: 770px) {
    .mapa,
    .horario {
         width: 90%; /* Ajusta el ancho para dispositivos más pequeños */
    }

    .table{
        font-size: 15px;
    }

}

@media (max-width: 680px){
    .contenidoFooter {
        display: flex;
        flex-direction: column;
    }
    
    .contacto {
        text-align: center;
        font-size: 13px;
    }
    
    .derechos {
        font-size: 13px;
    }
}


@media (max-width: 550px){
    .container-fluid img {
        height: 50px;
        width: 80px;
    }

    .titulo h1{
        font-size: 15px;
    }

    .titulo h2{
        font-size: 13px;
    }

    .h2{
        font-size: 20px;
    }

    p.main{
        font-size: 15px;
    }
}


@media (max-width: 470px){
    iframe{
        height: 300px;
    }
    .table{
        font-size: 10px;
    }
}