@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

// Variables

$color-principal: #4c7a34;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;

    a:hover {
        color: rgb(74, 6, 6);
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: $color-principal;
    text-align: center;
    margin: 0px;
    padding: 0px;

    img {
        height: 90px;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .titulo {
        color: white;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .subtitulo {
        color: white;
        font-family: "Edu NSW ACT Foundation", cursive;
        font-size: 15px;
        padding-top: 0px;
        margin-top: 2px;
        margin-bottom: 15px;
    }
    
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 10px;
        letter-spacing: 5px;
    }
    
    .nav {
        color: white;
        font-size: 18px;
        margin-right: 30px;
        margin-left: 30px;
        background-color: $color-principal;
    }
}

/* HEADER */

/* MAIN */

.h2 {
    color: $color-principal;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: bold;
}

/* MAIN */


/* BOTON SUBIR */
.subir {
    height: 30px;
    width: 30px;
    background-color: $color-principal;
    color: white;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 70%;
    box-shadow: 0 0 3px 2px white;
}
/* BOTON SUBIR */

@import "index.scss";
@import "galeria.scss";
@import "informacion.scss";
@import "ubicacion.scss";
@import "contacto.scss";
@import "derechos.scss";
@import "footer.scss";

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .titulo {
        font-size: 22px;
    }

    .nav {
        font-size: 16px;
    }

    .main-index{
        .borde {
            border-radius: 10px;
        }
    
        .articulo {
            h2 {
                font-size: 22px;
            }
            p.main {
                font-size: 18px;
            }
        }
    }
    

    footer {
        width: 100%;
        padding: 10px;
    }

    .contacto {
        font-size: 16px;
    }

    .derechos {
        font-size: 16px;
    }

    .grid-container {
        margin: 10px;
        gap: 5px;
    }

    .grid-item {
        height: 300px;
        width: 100%;
        border-radius: 17px;
    }

    .grid-container2 {
        padding: 15px;
        margin: 20px;
        gap: 10px;
    }
}

@media (max-width: 1120px){
    .main-index{
        .borde{
            height: 300px;
            width: 330px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .articulo {
            h2 {
                font-size: 20px;
            }
            p.main {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 1000px){
    .nav-pc{
        .nav{
            font-size: 18px;
        }
    }

    .main-index{
        .borde{
            height: 300px;
            width: 290px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .articulo {
            h2 {
                font-size: 20px;
            }
            p.main {
                font-size: 17px;
            }
        }
    }
}

@media (min-width: 918px){
    .main-indexj{
        display: none;
    }
}

@media (max-width: 918px){
    .main-index{
        display: none;
    }

    .main-indexj{
        .jumbotron-foto{
            background-image: url(../assets/paisaje.jpg);
            background-position: center;
            background-size: cover;
            height: 350px;
        }
        
        .jumbotron-foto2{
            background-image: url(../assets/huerto-urbano.jpg);
            background-position: center;
            background-size: cover;
            height: 350px;
        }
        
        .articuloj{
            color: $color-principal;
            align-content: center;
            text-align: center;
            height: 400px;
        }
        
        .h2j{
            margin: 10px;
            font-size: 25px;
            font-family: "Edu NSW ACT Foundation", cursive;
            font-weight: bold;
        }
        
        .mainj{
            margin: 10px;
            font-size: 20px;
        }
    }
}

@media (max-width: 830px){
    .nav-pc{
        display: none;
    }
}

@media (min-width: 830px){
    .navbar{
        display: none;
    }
}

@media (max-width: 830px){

    .navbar {
        background-color: $color-principal;

        .titulo {
            margin-left: 0px;
            text-align: center;
            color: white;
            
            img{
                height: 70px;
                width: 180px;
            }

            h2{
                font-family: "Edu NSW ACT Foundation", cursive;
                text-transform: uppercase;
                font-size: 17px;
            }
        }
    
        button {
            font-size: 20px;
            color: white !important;
        }
        
        .collapse{
            font-size: 16px;
            text-align: center;
        }
    }
    

    .container-fluid img {
        height: 60px;
        width: 80px;
    }

    div.redes a{
        color: $color-principal !important;
    }
    a.mail{
        color: $color-principal !important;
    }

    a {
        color: white !important;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "img1"
            "texto1"
            "img2"
            "texto2"
            "img3"
            "texto3"
            "img4"
            "texto4"
            "img5"
            "texto5"
            "img6"
            "texto6";
        gap: 0px;

        .img{
            height: auto;
        }
    }   
    
}

@media (max-width: 768px) {
    .mapa,
    .horario {
        width: 90%;
    }

    .table{
        font-size: 15px;
    }
}


@media (max-width: 680px){
    

    .contacto {
        text-align: center;
        font-size: 15px;
    }
    
    .derechos {
        font-size: 15px;
    }
}

@media (max-width: 620px){
    input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
}


@media (max-width: 550px){

    .container-fluid img {
        height: auto;
        width: 50px;

        .texto{
            height: auto;
            width: 100%;
        }
    }

    .titulo{
        h1{
            font-size: 20px;
        }
    
        h2{
            font-size: 15px;
        }
    }

    .h2{
        font-size: 20px;
    }
}


@media (max-width: 470px){
    
    .navbar{
        .titulo{
            img{
                height: 50px;
                width: 150px;
            }

            h2{
                font-size: 15px;
            }
        }
    }

    .div-copy{
        padding: 0px;
    }

    .grid-container2 {
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 1fr);
        gap: 0px;

        .img img{
            margin: 0px;
            height: 250px;
        }
    
        .almacen{
            font-size: 20px;
        }
    
        .infop{
            margin: 10px;
            font-size: 16px;
        }
    }   
    

    footer{
        width: 100%;
    }

    iframe{
        height: 300px;
    }
    .table{
        font-size: 10px;
    }
}

@media (max-width: 435px){
    .main-indexj{
        .articuloj{
            padding: 20px;
            .h2j{
                font-size: 22px;
            }

            .mainj{
                font-size: 18px;
            }
        }
    }

    .mitad-de-pag{
        .secciones{
            font-size: 18px;
        }
    }

    footer{
        .contacto {
            font-size: 15px;
        }
        
        .derechos {
            font-size: 14px;
        }
    }
}

@media (max-width: 390px){
    .navbar{
        .titulo{
            img{
                height: 45px;
                width: 130px;
            }

            h2{
                font-size: 13px;
            }
        }

        button {
            font-size: 17px;
        }
    }

    .main-indexj{
        p.mainj{
            font-size: 18px;
        }
    }
    
}

@media (max-width: 380px){
    .titulo{
        h1{
            font-size: 18px;
        }
    
        h2{
            font-size: 14px;
        }
    }

    .h2{
        font-size: 18px;
    }

    .mainj{
        margin: 10px;
    }

    .copy{
        font-size: 18px;
    }

    p.derechosTexto{
        font-size: 15px;
    }
    
}

@media (max-width: 350px){
    .main-indexj{
        .articuloj{
            .h2j{
                font-size: 20px;
            }

            .mainj{
                font-size: 17px;
            }
        }
    }

    footer{
        .contacto {
            font-size: 14px;
        }
        
        .derechos {
            font-size: 13px;
        }
    }
}
